# See https://caddyserver.com/docs

{$DOMAIN_NAME} {
  # HTTPS options:
  tls {$TLS_EMAIL}
  header / Strict-Transport-Security "max-age=31536000;"

  # Removing some headers for improved security:
  header / -Server

  # Serves static files, should be the same as `STATIC_ROOT` setting:
  root /var/www/django

  # Serving dynamic requests:
  proxy / web:8000 {
    except /static /media
    transparent
  }

  # Allows to use `.gz` files when available:
  gzip

  # Logs:
  log /var/log/share/caddy.log {
	rotate_size     64
	rotate_age      7
	rotate_keep     12
	rotate_compress 
  }
  errors /var/log/share/caddy.errors {
	rotate_size     64
	rotate_age      7
	rotate_keep     12
	rotate_compress 
  }
}
